.Posts {
    box-shadow: 0px 0px 4px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
}

.Posts div:last-child {
    border-bottom: none;
}

.PostList {
    position: relative;
}

.MainContent {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: stretch;
    padding: 15px 0px;
}

.LeftColumn {
    width: 100%;
}

.RightColumn {
    width: 100%;
    margin: 15px 0;
    height: 100%;
    box-shadow: 0px 0px 4px 0 rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    padding: 15px;
}

@media only screen and (min-width: 960px) {
    .LeftColumn {
        width: 75%;
        max-width: 1140px;
    }
    .RightColumn {
        width: calc(25% - 15px);
        max-width: 300px;
        margin: 0 0 0 15px;
    }
    .MainContent {
        margin: 0 5%;
    }
}