.AuthForm {
    padding: 15px;
    max-width: 640px;
    margin: 0px auto;
}

.AuthFormInner * {
    margin-top: 15px;
}

.AuthForm label{
    display:inline-block;
}

.Switch {
    cursor: pointer;
}