pre {
    font-family: Microsoft JhengHei;
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.App {
    /* max-width: 1140px; */
    margin: auto;
    font-size: 18px;
    display: flex;
    flex-direction: column;
}

a{
    text-decoration: none;
    color: #000a12;
    transition: color ease-out 0.3s;
}

a:hover{
    color: #4f5b62;
}

img {
    max-width: 100%
}

blockquote{
    border-left: 5px solid #008e76;
    margin: 0;
    padding: 5px 15px;
    background-color: #eceff1;
}
