.CommentBox{
    padding: 15px;
    box-shadow: 0px 0px 4px 0 rgba(0,0,0,0.2);
    margin: 15px 0;
    white-space: pre-wrap;
}

.CommentBox:last-child{
    margin-bottom: 15px;
}

.CommentBox a {
    text-decoration: underline;
}

.CommentDetailsBar{
    display: flex;
    justify-content: space-between;
    border-bottom: #eceff1 1px solid;
    padding-bottom: 1px;
}

.CommentDetailsBar p {
    margin: 0;
}

.QuoteButton {
    color: #4f5b62;
    cursor: pointer;
}

.CommentContent {
    padding-top: 15px;
}